<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

  <title>燕山大学图书馆占座设置</title>
</head>

<body>
  <div class="container">
    <%- include('./components/navbar'); %>
      <div class="row justify-content-center">
        <div class="col">
          <br>
          <br>
          <br>
          <br>
          <br>
          <form method="POST" action="/">
            <h1>你好
              <%= name %>
            </h1>
            <h2>当前选中座位：
              <br>
              <%= seat %>
            </h2>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="enable" id="enable" name="enable" <% if (enable) { %>
              <%= "checked" %>
                <% } %>>
                  <label class="form-check-label" for="checkbox">
                    占座开关：选中表示占座，不选择表示不占座
                  </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="deleteAuto" id="deleteAuto" name="deleteAuto" <% if (deleteAuto) {
                %>
              <%= "checked" %>
                <% } %>>
                  <label class="form-check-label" for="checkbox">
                    是否自动释放：选中表示自动释放，不选择表示不自动释放(自动释放包括出错自动释放和提前一小时释放)
                  </label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">保存</button>
          </form>
        </div>
      </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>