<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

  <title>燕山大学图书馆找人详细信息</title>
</head>

<body>
  <div class="container">
    <%- include('./components/navbar'); %>
    <div class="row justify-content-center">
      <div class="col">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">学号</th>
                <th scope="col">姓名</th>
                <th scope="col">班级</th>
                <th scope="col">专业</th>
                <th scope="col">学院</th>
              </tr>
            </thead>
            <tbody>
              <% stus.forEach(({XH,XM,XZB,ZYMC,XY}) => {%>
              <tr>
                <td>
                  <%= XH %>
                </td>
                <td>
                  <%= XM %>
                </td>
                <td>
                  <%= XZB %>
                </td>
                <td>
                  <%= ZYMC %>
                </td>
                <td>
                  <%= XY %>
                </td>
              </tr>
              <%});%>
            </tbody>
          </table>
        </div>
        <% if (stus.length ===0 ) {%>
        <br>
        <h1>数据库信息不足</h1>
        <%}%>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>